// ======================================

$responsive-ultrawide: 1400px;
$responsive-desktop: 1000px;
$responsive-tablet: 760px;
$responsive-mobile: 480px;

// ======================================

$bradius-container: 12px;
$bradius-item: 6px;
$bradius-circle: 100%;

// ======================================

$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 20px;

// ======================================

$bg-default: #ffffff;
$bg-primary: #d11616;
$bg-container: #d9d9d9;

$border-input: #cbcbcb;
$border-input-hover: #9a9a9a;

// ======================================

$font-main: #000000;
$font-secondary: #ffffff;

// ======================================

$header-height: 80px;

// ======================================
