@import '@/styles/variables.module.scss';

.text_input {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px 14px;
  border-radius: $bradius-item;
  cursor: pointer;
  transition: 0.3s;

  font-size: 14px;
  font-weight: 400;

  border: 1px solid $border-input-default;

  &:hover {
    border: 1px solid $border-input-default-hover;
  }
}

.text_input__password_container {
  position: relative;
  display: flex;
  align-items: center;
}

.text_input__password_toggle {
  position: absolute;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;

  background-color: transparent;
}
