@import '@/styles/variables.module.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3px;
  width: 100%;
  padding: $spacing-large;

  background-color: $bg-primary;

  p {
    font-size: 13px;
    font-weight: 400;

    color: $font-secondary;
  }
}
